<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../css/erros.css">
      <script src="https://kit.fontawesome.com/6131ecdde6.js" crossorigin="anonymous"></script>
      <title>Not found</title>
      <link rel="icon" type="image/png" href="../img/Error.png">
</head>
<body>
      <div class="error_container">
            <div class="message">
                  <div> 
                        
                        <h1>No se encontro la página</h1>
                  </div>
                  <div class="regre">
                        <button id="button"><i class="fa-solid fa-circle-left"></i><a href="/" id="v">Volver</a></button>
                        <img src="../img/ghost.png" alt="">
                  </div>
            </div>
      </div>
      
</body>
</html>