<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <link rel="stylesheet" href="../css/inicio.css">
      <title>Pina Records</title>
      <link rel="icon" type="image/png" href="../img/cat.png">
</head>
<body>
      <div class="container_family">
            <img id="fon" class="fon" src="./img/disquera_fondo.jpg" alt="" srcset="">
            <img id="fon2" class="fon2" src="./img/descarga (1).jpg"  alt="" srcset="">
            <img id="fon3" class="fon3" src="./img/up up and away.jpg"  alt="" srcset="">

            <div id="content" class="content">   
                  <div class="nav_">
                        <img src="../img/cat.png" alt="">
                        <h1 class="dis" id="dis">Disquera</h1>
                  </div>
                  <div class="options">
                        <div class="card" id="card" >
                              <img src="../img/genero.jpg" class="card-img-top" alt="" style="height: 10em;">
                              <div class="card-body" style="height: 11em; ">
                                <h5 class="card-title" id="card_title" style="color:black;">Generos Musicales</h5>
                                <p class="card-text" id="card_text">
                                    <a  href="/pinaRecord/generos">* Consultar Generos</a>
                                    <a  href="/pinaRecord/generos/1">* Consultar Genero por id</a>
                                    <a  href="/pinaRecord/generos">* Registar un Genero</a>
                                    <a  href="/pinaRecord/generos/1">* Actualizar un genero</a>
                                    <a  href="/pinaRecord/generos/1">* Eliminar un genero</a>    
                                </p>  
                              </div>
                        </div>

                        <div class="card" id="card2" >
                              <img src="../img/album.jpg" class="card-img-top" alt="" style="height: 10em;">
                              <div class="card-body" id="card_body" style="height: 11em;">
                                <h5 class="card-title" id="card_title" style="color:black;">Albumes Musicales</h5>
                                <p class="card-text" id="card_text">
                                    <a  href="/pinaRecord/albums">* Consultar Albumes</a>
                                    <a  href="/pinaRecord/albums/1">* Consultar Album por id</a>
                                    <a  href="/pinaRecord/albums">* Registrar un Album</a>
                                    <a  href="/pinaRecord/albums/1">* Actualizar un Album</a>
                                    <a  href="/pinaRecord/albums/1">* Eliminar un Album</a>    
                                </p>  
                              </div>
                        </div>

                        
                        <div class="card" id="card4" >
                              <img src="../img/artistas.webp" class="card-img-top" alt="" style="height: 10em;">
                              <div class="card-body" style="height: 11em;">
                                <h5 class="card-title" id="card_title" style="color:black;">Artistas</h5>
                                <p class="card-text" id="card_text">
                                    <a  href="/pinaRecord/artistas">* Consultar artistas</a>
                                    <a  href="/pinaRecord/artistas/2">* Consultar artista por id</a>
                                    <a  href="/pinaRecord/artistas">* Registrar un artista</a>
                                    <a  href="/pinaRecord/artistas/2">* Actualizar un artista</a>
                                    <a  href="/pinaRecord/artistas/1">* Eliminar un artista</a>    
                                </p>  
                              </div>
                        </div>
                        <div class="card" id="card3" >
                              <img src="../img/cancion.jpg" class="card-img-top" alt="" style="height: 10em;">
                              <div class="card-body" style="height: 11em;">
                                <h5 class="card-title" id="card_title" style="color:black;">Canciones </h5>
                                <p class="card-text" id="card_text">
                                    <a  href="/pinaRecord/canciones">* Consultar Canciones</a>
                                    <a  href="/pinaRecord/canciones/1">* Consultar Cancion por id</a>
                                    <a  href="/pinaRecord/canciones">* Registrar una Cancion</a>
                                    <a  href="/pinaRecord/canciones/1">* Actualizar una Cancion</a>
                                    <a  href="/pinaRecord/canciones/1">* Eliminar una Cancion</a>    
                                </p>  
                              </div>
                        </div>

                        
                  </div>
            </div>      
      </div>   
      <script src="../js/inicio.js"></script>
</body>
</html>